<!-- donee_signin.html -->
{% extends 'access_mobile_app/access_mobile.html' %}

{% block content %}
    <div class="row justify-content-center pt-5">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Donee Sign-In</h1>
                    <p class="card-text">Please enter your SIM to sign in.</p>

                    {% if error %}
                        <p class="text-danger">{{ error }}</p>
                    {% endif %}

                    <form method="POST" class="signin-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="sim" placeholder="Enter SIM" required class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}