<!-- donor_signin.html -->
{% extends 'access_mobile_app/access_mobile.html' %}

{% block content %}
<h1>Donor Sign In</h1>
<div class="row">
    <div class="col">
        <p>Select an option:</p>
        <button class="btn btn-primary" onclick="window.location.href='{% url 'donor_signup' %}'">Sign Up</button>
        <button class="btn btn-outline-primary" onclick="window.location.href='{% url 'donor_login' %}'">Log In</button>
        <a href="/" class="btn btn-light">Back to Home</a>
    </div>
</div>
{% endblock %}
