<!-- edit_donor_info.html -->
{% extends 'access_mobile_app/access_mobile.html' %}

{% block content %}
    <div class="row justify-content-center pt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Edit Donor Profile</h1>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}  <!-- Render the form fields as paragraphs -->

                        <button type="submit" class="btn btn-primary mt-4">Save Changes</button>
                    </form>

                    <button class="btn btn-secondary mt-3" onclick="window.location.href='{% url 'donor_dashboard' %}'">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}