<!-- landing_page.html -->
{% extends 'access_mobile_app/access_mobile.html' %}

{% block content %}
    <div class="row justify-content-center pt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title">Access Mobile</h1>
                    <p class="card-text">Bridging the Digital Divide faced by Equity Deserving Communities!</p>
                    <br>
                    <p class="card-text">Please choose the appropriate option to sign in or sign up!</p>
                    <div class="button-section mt-4">
                        <button class="btn btn-primary" onclick="window.location.href='{% url 'donee_signin' %}'">I am a Donatee</button>
                        <button class="btn btn-outline-primary" onclick="window.location.href='{% url 'donor_signin' %}'">I am a Donor</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
