<!-- order_sim.html -->
{% extends 'access_mobile_app/access_mobile.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Order a SIM</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Provider 1</h5>
                    <p class="card-text">Visit Public Mobile to order your SIM card.</p>
                    <a href="https://www.publicmobile.ca/en/ab/pick-up-SIM" class="btn btn-primary" target="_blank">Visit Provider 1</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Provider 2</h5>
                    <p class="card-text">Visit Provider 2 to order your SIM card.</p>
                    <a href="https://www.publicmobile.ca/en/ab/pick-up-SIM" class="btn btn-primary" target="_blank">Visit Provider 2</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
